.Header_total_part{
   width: 100%;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    margin: auto;
    z-index: 1000;
    
   
    background-color:white ;
    
}
.header_flex_1stpart>div{
   
    margin: 0px 10px;
    font-size: small;
}

.header_flex_2ndpart>div{

    margin: 0px 30px;

}


@media only screen and (min-width:0px) and (max-width:500px) {

    .header_flex_2ndpart>div{

        margin: 0px 10px;
    
    }
    .Header_total_part{
       
        

    }
}